<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thanks!</title>
  </head>
  <body>
    <h1>Thanks for signing up</h1>
    <p>This is the data we received:</p>
    <ul>
      <li>Name: {{name}}</li>
      <li>Email: {{email}}</li>
      <li>Year of Birth: {{birthyear}}</li>
      <li>Position: {{position}}</li>
      <li>Password: Do you really think we would just show it here?!</li>
    </ul>
  </body>
</html>
